/* honesty indications */
.h1 {  /* fanciful */
	border-bottom: .1em solid #004000;
}
.h2 {  /* suggestive */
	border-bottom: .1em solid #008000;
}
.h3 {  /* honest */
	border-bottom: .1em solid #00bf00;
}
.h4 {  /* sincere */
	border-bottom: .1em solid #00ff00;
}
.h-o1 {  /* slightly overstated */
	border-bottom: .1em solid #ffff00;
}
.h-o2 {  /* moderately overstated */
	border-bottom: .1em solid #ff8000;
}
.h-o3 {  /* greatly overstated */
	border-bottom: .1em solid #ff0000;
}
.h-u1 {  /* slightly understated */
	border-bottom: .1em solid #aaaaff;
}
.h-u2 {  /* moderately understated */
	border-bottom: .1em solid #5555ff;
}
.h-u3 {  /* greatly understated */
	border-bottom: .1em solid #0000ff;
}

/* emotion indications */
.e11 {  /* devastated */
	background-color: #0000ff;
}
.e12 {  /* devastated */
	background-color: #2b00d5;
}
.e13 {
	background-color: #5500aa;
	color: white;
}
.e14 {
	background-color: #800080;
	color: white;
}
.e15 {
	background-color: #aa0055;
	color: white;
}
.e16 {
	background-color: #d5002b;
}
.e17 {  /* furious */
	background-color: #ff0000;
}
.e21 {  /* sad */
	background-color: #002bff;
}
.e22 {  /* sad */
	background-color: #2b2bd5;
}
.e23 {
	background-color: #552baa;
	color: white;
}
.e24 {  /* irritated */
	background-color: #802b80;
	color: white;
}
.e25 {  /* irritated */
	background-color: #aa2b55;
	color: white;
}
.e26 {  /* angry */
	background-color: #d52b2b;
}
.e27 {  /* angry */
	background-color: #ff2b00;
}
.e31 {  /* exhausted */
	background-color: #0055ff;
}
.e32 {  /* exhausted */
	background-color: #2b55d5;
}
.e33 {
	background-color: #5555aa;
}
.e34 {  /* annoyed */
	background-color: #805580;
}
.e35 {  /* annoyed */
	background-color: #aa5555;
}
.e36 {  /* frustrated */
	background-color: #d5552b;
}
.e37 {  /* frustrated */
	background-color: #ff5500;
}
.e41 {  /* exhausted */
	background-color: #0080ff;
}
.e42 {  /* exhausted */
	background-color: #2b80d5;
}
.e43 {  /* unfeeling */
	background-color: #5580aa;
}
.e44 {  /* unfeeling */
	background-color: #808080;
}
.e45 {  /* unfeeling */
	background-color: #aa8055;
}
.e46 {
	background-color: #d5802b;
}
.e47 {
	background-color: #ff8000;
}
.e51 {  /* exhausted */
	background-color: #00aaff;
}
.e52 {  /* exhausted */
	background-color: #2baad5;
}
.e53 {
	background-color: #55aaaa;
}
.e54 {  /* content */
	background-color: #80aa80;
}
.e55 {  /* content */
	background-color: #aaaa55;
}
.e56 {  /* content */
	background-color: #d5aa2b;
}
.e57 {
	background-color: #ffaa00;
}
.e61 {  /* relieved */
	background-color: #00d5ff;
}
.e62 {  /* relieved */
	background-color: #2bd5d5;
}
.e63 {
	background-color: #55d5aa;
}
.e64 {  /* amused */
	background-color: #80d580;
}
.e65 {  /* happy */
	background-color: #aad555;
}
.e66 {  /* happy */
	background-color: #d5d52b;
}
.e67 {  /* happy */
	background-color: #ffd500;
}
.e71 {  /* relieved */
	background-color: #00ffff;
}
.e72 {  /* relieved */
	background-color: #2bffd5;
}
.e73 {
	background-color: #55ffaa;
}
.e74 {  /* amused */
	background-color: #80ff80;
}
.e75 {
	background-color: #aaff55;
}
.e76 {
	background-color: #d5ff2b;
}
.e77 {  /* ecstatic */
	background-color: #ffff00;
}
.e-a1 {  /* worried */
	background-color: pink;
	background-image: -webkit-linear-gradient(yellow, yellow 50%, pink 50%);
	background-image: -o-linear-gradient(yellow, yellow 50%, pink 50%);
	background-image: -moz-linear-gradient(yellow, yellow 50%, pink 50%);
	background-image: linear-gradient(yellow, yellow 50%, pink 50%);
}
.e-a2 {  /* anxious */
	background-color: pink;
	background-image: -webkit-linear-gradient(orange, orange 50%, pink 50%);
	background-image: -o-linear-gradient(orange, orange 50%, pink 50%);
	background-image: -moz-linear-gradient(orange, orange 50%, pink 50%);
	background-image: linear-gradient(orange, orange 50%, pink 50%);
}
.e-a3 {  /* terrified */
	background-color: pink;
	background-image: -webkit-linear-gradient(red, red 50%, pink 50%);
	background-image: -o-linear-gradient(red, red 50%, pink 50%);
	background-image: -moz-linear-gradient(red, red 50%, pink 50%);
	background-image: linear-gradient(red, red 50%, pink 50%);
}
.e-m1 {  /* slightly mischevious */
	background-color: #aaaaaa;
	color: white;
}
.e-m2 {  /* moderately mischevious */
	background-color: #555555;
	color: white;
}
.e-m3 {  /* highly mischevious */
	background-color: #000000;
	color: white;
}
.e-u1 {  /* sympathetic */
	background-color: #00ff00;
}
.e-u2 {  /* embarrassed */
	background-color: #00aa00;
}
.e-u3 {  /* awkward */
	background-color: #005500;
	color: white;
}
.e-i1 {  /* bored */
	background-color: #aaaaff;
	color: white;
}
.e-i2 {  /* intrigued */
	background-color: #5555ff;
	color: white;
}
.e-i3 {  /* fascinated */
	background-color: #0000ff;
	color: white;
}
.e-o1 {  /* regretful */
	background-color: maroon;
	background-image: -webkit-linear-gradient(gray, maroon);
	background-image: -o-linear-gradient(gray, maroon);
	background-image: -moz-linear-gradient(gray, maroon);
	background-image: linear-gradient(gray, maroon);
	color: white;
}
.e-o2 {  /* cynical */
	background-color: darkcyan;
	background-image: -webkit-linear-gradient(red, cyan);
	background-image: -o-linear-gradient(red, cyan);
	background-image: -moz-linear-gradient(red, cyan);
	background-image: linear-gradient(red, cyan);
}

/* exception handling */
a.e11 {
	color: green;
}
a.e12 {
	color: green;
}
a.e21 {
	color: green;
}
a.e31 {
	color: green;
}
a.e41 {
	color: green;
}
a.discreet {
	color: inherit;
}
.elaborate.e11 {
	color: green;
}
.elaborate.e12 {
	color: green;
}
.elaborate.e21 {
	color: green;
}
.elaborate.e31 {
	color: green;
}
.elaborate.e41 {
	color: green;
}
.elaborate.discreet {
	color: inherit;
}
note-.e11 {
	color: green;
}
note-.e12 {
	color: green;
}
note-.e21 {
	color: green;
}
note-.e31 {
	color: green;
}
note-.e41 {
	color: green;
}