aside::before {
	content: attr(data-heading) "Nothing here";
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}
a.discreet {
	color: inherit;
}
a.discreet:hover {
	text-decoration: none;
}
span {
	border-bottom: inherit;
}
li {
	border-bottom: .1em solid #80aa80;
}
ol.boring li, ul.boring li {
	border-bottom: none;
}
p > span {
	/**
	styles most things with objective styling (t6 e54)
	*/
	border-bottom: .1em solid #80aa80;
}
span.boring {
	/**
	allows spans to be unstyled
	*/
	border-bottom: none;
}
