aside::before {
	content: attr(data-heading) "Nothing here";
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}
a.discreet {
	color: inherit;
}
a.discreet:hover {
	text-decoration: none;
}
span {
	border-bottom: inherit;
}
section {
	/**
	This is a paragraph tag replacement.
	Paragraph tags can't be used because they can't handled imbedded <div>s (like in notes).
	*/
	display: block;
	margin: 1em 0em;
}
section > span {
	/**
	styles most things with objective styling (t6 e54)
	*/
	border-bottom: .1em solid #80aa80;
}
li > span {
	border-bottom: .1em solid #80aa80;
}
span.boring {
	/**
	allows spans to be unstyled
	*/
	border-bottom: none;
}
