aside::before {
	content: attr(data-heading) "Nothing here";
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}
span {
	/**
	styles sections of text
	*/
	border-bottom: inherit;
}
p > span {
	/**
	styles most things with objective styling (t6 e54)
	*/
	border-bottom: .1em solid #80aa80;
}
span.boring {
	/**
	allows spans to be unstyled
	*/
	border-bottom: none;
}
